.item img{
  width: 100px;
  height:100px;
  margin: 20px 10px;
}
.cart-top{
  border-bottom: 1px solid #bdb7b7;
  .container{
    align-items: center;
  }
}

.card{

  padding: 20px;
  margin: 50px;

  img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

    &:hover{
      transition: 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}
