.form-control{
  border-radius: 3px;
  margin-left: 10%;
  width: 600px;
}

.search-form{
  position: relative;
}
.search-icon{
  position: absolute;
  z-index: 10;
  right: 2%;
  top: 20%;
  color: blue;
}
